body {
    text-align: center;
    margin: 40px;
}
  
.search{
  margin:20px;
  display:flex;
  justify-content: center;
}

ul{
  border: solid rgb(0, 0, 0) 1px;
  box-shadow: black 2px 2px 2px;
  background: rgb(147,181,207);
  background: linear-gradient(180deg, rgba(103, 199, 255, 0.727) 0%, rgb(163, 197, 231) 100%);
  border-radius: 10px;
  max-width: max-content;
  min-width: 450px;
  padding: 5px;
  margin:15px auto;
}

li{
  padding:3px;
  list-style-type: none;
}